html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background: url("/assets/images/Intro.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-footer {
  background-color: rgb(32, 32, 32);
}

.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

i,
h5 {
  color: rgb(255, 230, 13);
  text-shadow: 2px 2px 5px black;
}

.text-yellow {
  color: rgb(204, 204, 204);
}

p,
h2,
h4,
li,
a {
  color: rgb(77, 77, 77);
}

a:hover {
  color: rgb(255, 230, 13);
}

hr {
  background-size: 4px;
  border-top: 2px solid rgb(204, 204, 204);
  border-color: rgb(204, 204, 204);
}

.view {
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.75);
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
